@import '../../GlobalStyles.css';

.container{

    height: 90hv;
    width: 100%;
    margin-top: 10vh;

    .titleArea{
        height: 20%;
        width: 100%;
        font-size: 36px;
        text-align: center;
    }

    .buttonsContainer{
        height: 80%;
        width: 100%;
        padding-bottom: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .menuButton{
            font-size: 24px;
            padding: 5%;
            margin: 5%;
            width: 70%;
            height: 15%;
            background-color: var(--black);

            .navLink{
                text-decoration: none;
                color: inherit;
            }
        }

        .dexButton{
            color: var(--redOrange);
        }
        .btlButton{
            color: var(--blue);
        }
        .gesButton{
            color: var(--green);
        }
    }
}