:root{
    --red: #C52018;
    --yellow: #F6E652;
    --black: #41414A;
    --blue: #8BC5CD;
    --orange: #FF9441;
    --redOrange: #DE5239;
    --green: #A4D541;
    --pink: #FFCDC5;
    --white: #FFFFFF;
    --grey: #ACACB4;
}